body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 2em;
}

h2 {
	color: #black;
	font-size: 2em; 
}
h3 {	font-size: 1.5em;
	text-decoration: underline;
}
h4 {	font-size: 1em;
}

.hero {
	background-image: url("subtle_background_1.PNG");
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #black;
	font-size: 1.5em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}

