body {
	font-family: Georgia;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image: url("subtle_background_1.png");
	background-size: cover;

}

h1 {
	font-size: 3em;
}
.pic { position: static;
	right: 120px;
	top: 40px;
}
h2 {
	font-size: 2em; 
}
h3 {	font-size: 1.75em;
	text-decoration: underline;
}
h4 {	font-size: 1.5em;
}
h5 {	font-size: 1em;
}
p {
	font-size: 1em;
}

